<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cast - Stranger Things</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stcast.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon1.png') }}" type="icon">
</head>
<body>
    <header>
        <div>
            <img id="Box" src="{{ url_for('static', filename='images/bg.jpg') }}" >
        </div>
    </header>
    <main>
        <section>
            <a href="stcast.html" id="tab">Main</a>
            <a href="stother.html" id="tab">Recurring</a>
        </section>
        <article id="main">
            <p>
                <hr align="left" width="90%">
                <h4>Eleven (Millie Bobby Brown)</h4>
                <a href="https://en.wikipedia.org/wiki/Millie_Bobby_Brown"><img id="image" src="{{ url_for('static', filename='images/11.webp') }}" align="right"></a>
                A teen girl with telepathic and psychokinetic abilities, a result of being one of Dr. Brenner's subjects <br>from Hawkins National Laboratory. She escapes the lab and eventually becomes an adoptive daughter<br> to Jim Hopper taking his surname, and adjusts to living a normal life with the help of Mike<br> (whom she later dates) and his friends.<br><br>
                <hr align="left" width="90%"><h4>Mike Wheeler (Finn Wolfhard)</h4>
                <a href="https://en.wikipedia.org/wiki/Finn_Wolfhard"><img id="image" src="{{ url_for('static', filename='images/mike.png') }}" align="right"></a>
                A middle child of Karen and Ted Wheeler, brother of Nancy and Holly, and one of three friends<br> of Will Byers. He is an intelligent and conscientious student and is committed to his friends.  He<br> develops romantic feelings for Eleven and later dates her.<br><br><br>
                <!-- Add other character descriptions here -->
                <hr align="left" width="90%"><h4>Dustin Henderson (Gaten Matarazzo)</h4>
                <a href="https://en.wikipedia.org/wiki/Gaten_Matarazzo"><img id="image" src="{{ url_for('static', filename='images/dustin.jpg') }}" align="right"></a>
                One of Will Byers' friends. His cleidocranial dysplasia causes him to lisp. In the second season,<br> he is proud of his new front teeth and is attracted to Max. In season 3, he gets a girlfriend,<br> Suzie (portrayed by <a href="https://en.wikipedia.org/wiki/Gabriella_Pizzolo" id="suzie">Gabriella Pizzolo</a>), whom he met at Camp Know Where prior to the start<br> of the season.<br><br><br>
                <hr align="left" width="90%"><h4>Lucas Sinclair (Caleb McLaughlin)</h4>
                <a href="https://en.wikipedia.org/wiki/Caleb_McLaughlin"><img id="image" src="{{ url_for('static', filename='images/lucas.avif') }}" align="right"></a>
                One of Will's friends. He is wary of Eleven but later befriends her. In season two, he is one of<br> Max's love interests and eventually becomes her boyfriend in season three. He becomes more<br> popular in season 4 as a result of joining the Hawkins High basketball team, which briefly puts<br> him at odds with his regular friend group.<br><br><br>
                <hr align="left" width="90%"><h4>Will Byers (Noah Schnapp)</h4>
                <a href="https://en.wikipedia.org/wiki/Noah_Schnapp"><img id="image" src="{{ url_for('static', filename='images/will.jpg') }}" align="right"></a>
                The son of Joyce Byers and younger brother of Jonathan Byers. He is captured by a monster<br> from the "Upside Down", an alternate dimension discovered by Hawkins Laboratory scientists<br> in season 1. He later develops a connection to the upside down and the Mind Flayer due to his<br> capture.<br><br><br>
                <hr align="left" width="90%"><h4>Joyce Byers (Winona Ryder)</h4>
                <a href="https://en.wikipedia.org/wiki/Winona_Ryder"><img id="image" src="{{ url_for('static', filename='images/will mon.png') }}" align="right"></a>
                The mother of Will and Jonathan Byers. She is divorced from Lonnie Byers, the father of Will<br> and Jonathan. In season two, she dates her old high school classmate, Bob, until his death<br> later in the season. She and Hopper have feelings for each other.<br><br><br>
                <hr align="left" width="90%"><h4>Jim Hopper (David Harbour)</h4>
                <a href="https://en.wikipedia.org/wiki/David_Harbour"><img id="image" src="{{ url_for('static', filename='images/david.jpg') }}" align="right"></a>
                A chief of Hawkins Police Department. After his young daughter Sara died of cancer, Hopper<br> divorced and lapsed into alcoholism. Eventually he grows to be more responsible, saving<br> Will Byers after he is taken in season 1, as well as taking Eleven as his adopted daughter.<br> He and Joyce have feelings for each other.<br><br><br>
                <hr align="left" width="90%"><h4>Steve Harrington (Joe Keery)</h4>
                <a href="https://en.wikipedia.org/wiki/Joe_Keery"><img id="image" src="{{ url_for('static', filename='images/steve.jpg') }}" align="right"><a>
                A popular high school student and the boyfriend of Nancy Wheeler. He ostracizes Jonathan Byers<br> but later comes to befriend him. He and Nancy later break up in season two but remain<br> friends. He is known as the "babysitter" of the group since he is often left to look after<br> the kids.<br><br><br>
                <hr align="left" width="90%"><h4> Nancy Wheeler (Natalia Dyer)</h4>
                <a href="https://en.wikipedia.org/wiki/Natalia_Dyer"><img id="image" src="{{ url_for('static', filename='images/nancy.jpeg') }}" align="right"></a>
                A daughter of Karen and Ted and older sister of Mike and Holly. Studious and rule-abiding,<br> Nancy finds another side of herself while investigating the Hawkins Lab and the death of her<br> friend Barbara. In the first two seasons, she is the girlfriend of Steve Harrington but breaks<br> up with him and then dates Jonathan Byers. She is an aspiring journalist.<br><br><br>
                <hr align="left" width="90%"><h4>Jonathan Byers (Charlie Heaton)</h4>
                <a href="https://en.wikipedia.org/wiki/Charlie_Heaton"><img id="image" src="{{ url_for('static', filename='images/jon.jpg') }}" align="right"></a>
                A he older brother of Will Byers and the son of Joyce Byers. He is a quiet and kind-hearted<br> teenager, an outsider at school, and an aspiring photographer. He is close with his mother<br> and brother, and he becomes the boyfriend of Nancy Wheeler.<br><br><br>
                <hr align="left" width="90%"><h4>Max Mayfield (Sadie Sink)</h4>
                <a href="https://en.wikipedia.org/wiki/Sadie_Sink"><img id="image" src="{{ url_for('static', filename='images/max.jpg') }}" align="right"><a>
                Billy's younger stepsister, and a tomboy who catches the attention of both Lucas and Dustin,<br> eventually dating Lucas. In season 4, she is one of the teens that is targeted by Vecna.<br><br><br><br>
                <hr align="left" width="90%"><h4>Henry Creel/Vecna (Jamie Bower)</h4>
                <a href="https://en.wikipedia.org/wiki/Jamie_Campbell_Bower"><img id="image" src="{{ url_for('static', filename='images/one.webp') }}" align="right"></a>
                A murderous psychic being from the Upside Down revealed to have created the Mind Flayer.<br> He was born as a human named Henry Creel with psionic abilities. After murdering his family<br> and falling into a coma, he was put under the care of Dr. Brenner. Flashbacks in season 4 reveal<br> he was sent to the Upside Down by Eleven when she was nine years old, where he was disfigured<br> by lightning, causing his appearance as Vecna. After exploring the Upside Down, he created the<br> Mind Flayer and took control of the dimension.<br><br>
                <hr align="left" width="90%">
            </p>         
        </article>
    </main>
    <footer>
        <div id="nav">
            <button><a href="{{ url_for('stmain') }}" id="nav1"><span>Main</span></a></button>
            <button><a href="{{ url_for('stplot') }}" id="nav1"><span>Overview</span></a></button>
            <button><a href="{{ url_for('stseasons') }}" id="nav1"><span>Seasons</span></a></button>
        </div>
    </footer>
</body>
</html>
