<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recurring Cast - Stranger Things</title>
</head>
<link rel="stylesheet" href="stcast.css">
<link rel="icon" href="icon1.png" type="icon">
<body>
    <header>
        <div >
            <img id="Box" src="bg.jpg" >
        </div>
    </header>
    <main >
       <section>
        <a href="stcast.html" id="tab">Main</a>
        <a href="stother.html" id="tab">Recurring</a>
        </section>
    <article id="main">
        <p>
        <hr align="left" width="90%">
        <li>Dacre Montgomery as Billy Hargrove</li><br><br>
        <li>Maya Hawke as Robin Buckley</li><br><br>
        <li>Priah Ferguson as Erica Sinclair</li><br><br>
        <li>Shannon Purser as Barb Holland</li><br><br>
        <li>Sean Astin as Bob Newby</li><br><br>
        <li>Paul Reiser as Dr. Sam Owens</li><br><br>
        <li>Brett Gelman as Murray Bauman</li><br><br>
        <li>Linnea Berthelsen as Kali Prasad (Eight)</li><br><br>
        <li>Cara Buono as Karen Wheeler</li><br><br>
        <li>Rob Morgan as Officer Powell</li><br><br>
        <li>Catherine Curtin as Claudia Henderson</li><br><br>
        <li>Gabrielle Maiden as Dottie</li><br><br>
        And many others who have made appearances throughout the seasons.<br><br>
        <hr align="left" width="90%">
        </p>
        
    </article>
    </main>
    <footer>
        <div id="nav">
                <button><a href="/stmain.htmlget="_blank" id="nav1"><span>Main</span></a></button>
                <button><a href="/stplot.html" target="_blank" id="nav1"><span>Overview</span></a></button>
                <button><a href="/stseasons.html" target="_blank" id="nav1"><span>Seasons</span></a></button>
            
        </div>
    </footer>
</body>
</html>