<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview - Stranger Things</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='stplot.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/icon1.png') }}" type="icon">
<body>
    <header>
        <div >
            <img src="{{ url_for('static', filename='images/bg.jpg') }}" id="Box">
        </div>
    </header>
    


    <footer>
        <div id="nav">
                <button><a href="{{ url_for('stmain') }}" target="_blank" id="nav1"><span>Main</span></a></button>
                <button><a href="{{ url_for('stcast') }}" target="_blank" id="nav1"><span>Cast</span></a></button>
                <button><a href="{{ url_for('stseasons') }}" target="_blank" id="nav1"><span>Seasons</span></a></button>
        </div>
    </footer>
</body>
</html>